@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100vw;
  height: 100vh;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
